PORT=3000
DOMAIN=http://localhost
DB_USER=tu_usuario_mongodb
DB_PASS=tu_contraseña_mongodb
DB_CLUSTER=tu_cluster.mongodb.net
DATABASE=nombre_base_de_datos
JWT_SECRET=tu_clave_secreta
BACKEND_URL=https://tu-backend.vercel.app